<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-fab-button class="icon-slider-minus" (click)="btn(btnAction.minus, $event, control)">
        <ion-icon name="remove-outline" style="color: #4e5761;"></ion-icon>
      </ion-fab-button>
      <ion-range min="{{control.details.min}}" max="{{control.details.max}}" step="{{control.details.step}}"
        debounce="50" step="1" (ionChange)="slider_value_change()" [(ngModel)]="slider_value"></ion-range>
      <ion-fab-button class="icon-slider-plus" (click)="btn(btnAction.plus, $event, control)">
        <ion-icon name="add-outline" style="color: #4e5761"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-card-content>
</ion-card>