<ion-card>
  <ion-card-header>
    <ion-item>
      <ion-icon *ngIf="control.type !== 'i_room_controller'" color="{{control.icon.color}}" src="{{control.icon.href}}">
      </ion-icon>

      <svg *ngIf="control.type === 'i_room_controller'" class="text-svg" x="0px" y="0px" viewBox="0 0 50 50">
        <text x="25" y="36" text-anchor="middle">
          <tspan style="font-size: 30px;">{{control.display.temp_base}}</tspan>
          <tspan style="font-size: 18px;">.{{control.display.temp_dec}}</tspan>
        </text>
      </svg>

      <ion-label></ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>
        <p>{{room.name}} • {{category.name}}</p>
        <h1 *ngIf="control.type !== 'i_room_controller'">{{control.name}}</h1>
        <h1 *ngIf="control.type === 'i_room_controller'">{{control.display.name | translate }}</h1>
        <h2 style="color: {{control.display.color}};" *ngIf="control.display.text !== ''">
          {{control.display.text | translate}}</h2>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>