.push-button {
  height: 50px;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  --background: var(--ion-card-background, #ffffff);
  --ripple-color: var(--ion-color-primary, #69c350);
  border-radius: 5px;
  box-shadow: // TODO inherit from ion-card
   rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
   rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
   rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
   color: var(--ion-text-color, #2c2c2c);
}

ion-label {
  margin: 0px;
  h1 {
    font-size: 18px;
    line-height: 1.2;
  }
  h2 {
    font-size: 18px;
    line-height: 1.2;
  }
  p {
    margin-top: 3px;
    font-size: 13px;
  }
}
