<div style="display: flex; justify-content: center;">
  <div #thermostat></div>
</div>

<!--
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-fab-button class="fab-button" (click)="clickButton(buttonType.DOWN, vm, $event)">
        <ion-icon class="icon" name="chevron-down-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>
    <ion-col>
      <ion-fab-button class="fab-button" (click)="clickButton(buttonType.DOWN, vm, $event)">
        <ion-icon class="icon" name="chevron-down-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-item>
  <ion-range class="range" min="20" max="60" step="1" (ionChange)="ambientTemperatureChange($event)"
    [(ngModel)]="ambientTemperature2"></ion-range>
</ion-item>
<ion-item>
  <ion-range class="range" min="20" max="60" step="1" (ionChange)="targetTemperatureChange($event)"
    [(ngModel)]="targetTemperature2"></ion-range>
</ion-item>
-->