<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save_settings()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-label position="floating" color="medium">MQTT Broker IP {{ 'Address' | translate }}</ion-label>
        <ion-input placeholder="IP Address" formControlName="mqtt_ipaddress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="medium">MQTT Broker Websocket {{ 'Port' | translate }}</ion-label>
        <ion-input placeholder="Port" formControlName="mqtt_port"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="medium">MQTT Broker {{ 'Username' | translate }}</ion-label>
        <ion-input placeholder="Username" formControlName="mqtt_username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="medium">MQTT Broker {{ 'Password' | translate }}</ion-label>
        <ion-input type="password" placeholder="Password" formControlName="mqtt_passw"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="medium">LoxBerry App Topic</ion-label>
        <ion-input placeholder="MQTT Topic" formControlName="mqtt_app_topic"></ion-input>
      </ion-item>
    </div>
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">{{ 'Save settings' | translate }}</ion-button>
  </form>
  <ion-button expand="block" class="cancel" (click)="cancel()">{{ 'Cancel' | translate }}</ion-button>
</ion-content>
