ion-card {
  margin: 0px;
  border-radius: 5px;
}

ion-card-content {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;  // TODO vertial align
}

ion-item {
  --inner-border-width: 0px;
  --padding-start: 10px;
  --padding-end: 3px;
  --inner-padding-end: 10px;
  --color: var(--ion-text-color, #2c2c2c);
}

ion-icon {
  margin: 0 auto; // center
  font-size: 42px;
  margin-top: 20px; // TODO vertial align
  color: var(--ion-text-color, #ffffff);
}

ion-label {
  margin: 0;
  h1 {
    font-size: 18px;
    line-height: 1.2;
  }
  height: 42px;
  align-items: center;
  justify-content: center;
}

.text-flex { // TODO build-in solution available?
  display: flex;
  text-align: center;
}