ion-card {
  margin: 0px 0px 10px 0px; // top right bottm left
  border-radius: 5px;
}

ion-card-header {
  height: 56px;
  margin: 0;
  padding: 0;
}

ion-card-content {
  margin: 3px;
  padding: 3px;
}

ion-item {
  --inner-border-width: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: 3px;
  --inner-border-width: 0px;
  --padding-start: 0px;
  --padding-end: 6px;
  --inner-padding-start: 10px;
  --inner-padding-end: 0px;
  margin: 0px;
  padding: 0px;
}

.push-button {
  height: 50px;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  --background: var(--ion-card-background, #ffffff);
  --ripple-color: var(--ion-color-primary, #69c350);
  border-radius: 5px;
  box-shadow: // TODO inherit from ion-card
   rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
   rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
   rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
   color: var(--ion-text-color, #2c2c2c);
}

ion-icon {
  font-size: 32px;
  height: 65px;
  color: var(--ion-text-color, #ffffff);
}

.text-center {
  text-align: center;
}

ion-label {
  margin: 0px;
  h1 {
    font-size: 18px;
    line-height: 1.2;
  }
  h2 {
    font-size: 18px;
    line-height: 1.2;
  }
  p {
    margin-top: 3px;
    font-size: 13px;
  }
}
