<ion-tabs #tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites" (click)="click('favorites')">
      <ion-icon name="star-sharp"></ion-icon>
      <ion-label translate>favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="room" (click)="click('room')">
      <ion-icon name="grid-sharp"></ion-icon>
      <ion-label translate>rooms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category" (click)="click('category')">
      <ion-icon name="list-sharp"></ion-icon>
      <ion-label translate>categories</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
