/*
 * Global app-specific customization of shadow DOM elements
*/

@font-face {
  font-family: 'Urbanist-Italic';
  src: url('../assets/fonts/Urbanist-Italic.ttf') format("truetype"),
       url('../assets/fonts/Urbanist-Italic.woff') format("woff"),
       url('../assets/fonts/Urbanist-Italic.woff2') format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Urbanist-Regular';
  src: url('../assets/fonts/Urbanist-Regular.ttf') format("truetype"),
       url('../assets/fonts/Urbanist-Regular.woff') format("woff"),
       url('../assets/fonts/Urbanist-Regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist-BoldItalic';
  src: url('../assets/fonts/Urbanist-BoldItalic.ttf') format("truetype"),
       url('../assets/fonts/Urbanist-BoldItalic.woff') format("woff"),
       url('../assets/fonts/Urbanist-BoldItalic.woff2') format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Urbanist-Bold';
  src: url('../assets/fonts/Urbanist-Bold.ttf') format("truetype"),
       url('../assets/fonts/Urbanist-Bold.woff') format("woff"),
       url('../assets/fonts/Urbanist-Bold.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
}

// default font in the app
*{
  font-family: 'Urbanist-Regular';
  letter-spacing: 0.04em;
}

$font-family-ios-base: "Urbanist-Regular";
$font-family-md-base: "Urbanist-Regular";
$font-family-wp-base: "Urbanist-Regular";

// default scss settings for the app

// disable scrollbar (but maintain scroll capability and transistions)

ion-content {
  width: calc(100% + 15px);
}

ion-content::part(scroll) {
  padding-right: 15px;
}

// Global Ionic component restyling
// TODO should we overrule more default ionic styles???

// action sheet popup for central elements
ion-action-sheet.actionsheet .action-sheet-group {
  background: var(--ion-toolbar-background);
}

ion-action-sheet.actionsheet .action-sheet-title {
  color: #fff;
  background: var(--ion-card-background, #fbfbfb);
}

ion-action-sheet.actionsheet .action-sheet-selected {
  color: var(--ion-color-primary, #69c350);
  background: var(--ion-card-selected);
  font-weight: normal;
}

@media (any-hover: hover) {
  ion-action-sheet.actionsheet .action-sheet-button:hover {
    color: #000000;
  }
}

ion-action-sheet.actionsheet ion-backdrop {
  opacity: 0.6;
}

// custom Ionic component styling

.grid-center {
  max-width: 1024px;
  margin: auto;
}

.col-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 0;
  border-radius: 5px;
  --ripple-color: transparent;
  //--background: var(--ion-card-background, #fbfbfb);
}

.ripple-color {
  color: var(--ion-color-primary, #69c350);
}

.card-fav {
  height: 140px;
}

.card-header {
  margin: 0;
  padding: 0;
}

.card-content {
  margin: 0;
  padding: 0;
}

.item {
  --inner-border-width: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: 3px;
  --padding-start: 10px;
  --padding-end: 0px;
  --color: var(--ion-text-color, #2c2c2c);
  margin-left: 2px;
}

.select-no-icon::part(icon) {
  display: none !important;
}

.ion-valid { /* no color bar in item when ion-select */
--highlight-background: none;
--show-full-highlight: 0;
--border-width: 0;
}

.select-no-icon {
  font-size: 18px;
  letter-spacing: 0.01em;
  padding: 0 6px 0 0; /* top right bottom left */
  margin: -2px 3px 0 0; /* TODO align text for ion-select */
}

.icon {
  font-size: 32px;
  height: 65px;
  color: var(--ion-text-color, #666666);
}

.icon_50 {
  font-size: 32px;
  height: 50px;
  color: var(--ion-text-color, #666666);
}

.icon-list {
  margin: 0 auto; // center
  font-size: 42px;
  margin-top: 20px; // TODO vertial align
  margin-bottom: 6px;
  color: var(--ion-text-color, #666666);
}

.text-icon {
  display: flex;
  margin-top: 4px;
  margin-bottom: 6px;
  height: 55px; // 55+10px = 65px total
  width: 32px;
  fill: var(--ion-text-color, #666666);
  margin-right: 15px; //TODO check
}

.label-listitem {
  margin-left: 15px;
}

.label-fav {
  margin-top: 0px;
  margin-bottom: 6px !important;
}

.label-right {
  margin-right: 8px;
  h1 {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.2;
    float:right;
  }
  h2 {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.2;
    float:right;
  }
  p {
    margin-top: 3px;
    letter-spacing: 0.01em;
    font-size: 13px;
    float:right;
  }
}

.label {
  margin-top: 0px;
  margin-bottom: 0px;
  h1 {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.2;
  }
  h2 {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.2;
  }
  p {
    //margin-top: 3px;
    letter-spacing: 0.01em;
    font-size: 13px;
  }
}

.label-list {
    margin: 0;
    h1 {
      font-size: 18px;
      line-height: 1.2;
    }
    height: 42px;
    align-items: center;
    justify-content: center;
  }

.label-fab {
  position: absolute;
  bottom: -20px;
  p {
    font-size: 12px;
    //letter-spacing: 0.01em;
  }
}

// category and room labels
.control-label {
  margin: 0 0 0 8px; // top right bottm left
  p {
    margin-top: 3px;
    font-size: 13px;
    text-transform: uppercase;
  }
}

.toggle {
  margin-right: 8px;
}

.fab-button-small {
  margin-top: 0;
  margin-bottom: 0;
}

.fab-button {
  margin-left: 2px;
  --background: var(--ion-control-color, #353535);
  --background-activated-opacity: 100%;
  --background-activated: var(--ion-color-primary, #69c350);
  --box-shadow: none;
  --ripple-color: transparent;
}

.fab-button-slider {
  --border-radius: 50%;
  --background: transparent;
  --box-shadow: 0px;
  --background-hover: transparent;
  --background-hover-opacity: 0%;
  --background-activated: transparent;
  --background-activated-opacity: 0%;
  --ripple-color: transparent;
  margin: 0;
  padding: 0;
}

.fab-outline {
  --border-color: var(--ion-card-selected);
  --border-width: 1px;
  --border-style: solid;
  --background: transparent;
}

.selected-true {
  --ion-item-background: var(--ion-card-selected);
}

.radio-item {
  margin: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: // TODO inherit from ion-card
   rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
   rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
   rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
   --ripple-color: var(--ion-color-primary, #69c350);

   .selected-false {
    --ion-item-background: var(--ion-card-background, #fbfbfb);
   }

  .selected-true {
    --ion-item-background: var(--ion-card-selected);
  }
}

.radio-label {
  margin-left: 3px;
}

// TODO hide radio button, other approach?
.radio {
  width: 0;
  height: 0;
}

.push-button {
  height: 48px;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  --background: var(--ion-card-background, #fbfbfb);
  --ripple-color: var(--ion-color-primary, #69c350);
  border-radius: 5px;
  box-shadow: // TODO inherit from ion-card
   rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
   rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
   rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
   color: var(--ion-text-color, #2c2c2c);
}

.segment-button {
  --background-checked: var(--ion-toolbar-background);
  //--color-checked: var(--ion-color-success-contrast);
  --background: var(--ion-toolbar-background);
  max-width: unset; // default was 360px, does not work for widescreen
}

// slider

.range {
  height: 30px;
  margin: 0;
  padding-left: 0;
  padding-right: 10px;
  --knob-size: 18px;
  --bar-height: 5px;
  --bar-border-radius: 3px;
  //--bar-background: -webkit-linear-gradient(left, rgba(49,56,62, 1), rgb(255, 229, 127));
  --bar-background-active: transparent; // disable
  --knob-background: var(--ion-text-color, #aaaaaa);
  //--pin-color: var(--ion-text-color, #ffffff);

  &::part(knob) {
    transform: scale(1);  // fixed size in shadowDOM
  }
}

.icon-slider-left {
  height: 20px;
  width: 20px;
  margin-right: 16px;
  margin-left: 0px;
  padding: 0;
}

.icon-slider-left-small {
  height: 16px;
  width: 16px;
  margin-right: 16px;
  margin-left: 0px;
  padding: 0;
}

.icon-slider-right {
  height: 20px;
  width: 20px;
  margin-left: 6px;
  margin-right: 8px;
  padding: 0;
}

.hsv_icon {
  font-size: 20px;
  pointer-events: none;
}

.rgb_icon {
  font-size: 20px;
  margin-bottom:2px; // correction for rgb icon
  pointer-events: none;
}

.btn_dimmer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px 3px 0;  // top right bottm left
  float: right;
}

// RGB color picker

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
}

.container .overlay {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}

.fab_btn_temp {
  --border-radius: 50%;
  --box-shadow: 0px;
  --background-hover: transparent;
  --background-hover-opacity: 0%;
  --background-activated: transparent;
  --background-activated-opacity: 0%;
  --border-color: #232425;
  --border-width: 5px;
  --border-style: solid;
  --background: linear-gradient(to top, rgb(255, 148, 42) 0%, rgb(255, 189, 126) 12.5%, rgb(255, 216, 181) 25%, rgb(255, 235, 222) 37.5%, rgb(255, 248, 255) 50%, rgb(230, 235, 255) 62.5%, rgb(214, 226, 255) 75%, rgb(204, 220, 255) 87.5%);
}

.fab_btn_rgb {
  --border-radius: 50%;
  --box-shadow: 0px;
  --background-hover: transparent;
  --background-hover-opacity: 0%;
  --background-activated: transparent;
  --background-activated-opacity: 0%;
  --border-color: #232425;
  --border-width: 5px;
  --border-style: solid;
  --background: conic-gradient(red, magenta, blue, aqua, lime, yellow, red);
  transform: rotateZ(90deg);
}

// TODO workaround for footer in ion-content field
.footer{
  margin: 0;
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
}

.swiper {
  height: 100px;
}