ion-card {
  margin: 0;
  border-radius: 5px;
  --ripple-color: transparent;
}

ion-card-content {
  margin: 0;
  padding: 0;
}

ion-item {
  --inner-border-width: 0px;
  --inner-padding-start: 10px;
  --padding-start: 0px;
  --padding-end: 3px;
  --inner-padding-end: 3px;
  --color: var(--ion-text-color, #2c2c2c);
  margin-left: 2px;
}

ion-label {
  margin: 0px;
  h1 {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.2;
  }
  h2 {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.2;
  }
  p {
    margin-top: 3px;
    //letter-spacing: 0.01em;
    font-size: 13px;
    text-transform: uppercase;
  }
}

ion-toggle {
  margin-right: 10px;
}
