<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let control of favorites">
        <ion-card routerLink="{{control.hwid}}/{{control.uuid}}">
          <ion-card-header>
            <ion-item>
              <ion-icon color="{{control.icon.color}}" src="{{control.icon.href}}"></ion-icon>
              <ion-label></ion-label>

              <ng-container *ngIf="control.type === 'push'">
                <ion-fab-button horizontal="end" size="small" (click)="pushed_pulse($event, control)">
                  <ion-icon name="radio-button-off-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="control.type === 'light'">
                <ion-fab-button size="small" (click)="pushed_light($event, control)">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="control.type === 'radio'">
                <ion-fab-button size="small" (click)="pushed_radio_down($event, control)">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button class="fab-button-1" size="small" (click)="pushed_radio_up($event, control)">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="(control.type === 'updown') || (control.type === 'screen')">
                <ion-fab-button size="small" (click)="pushed_down($event, control)">
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" (click)="pushed_up($event, control)">
                  <ion-icon name="chevron-up-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="(control.type === 'plusminus') || (control.type === 'slider') ">
                <ion-fab-button size="small" (click)="pushed_minus($event, control)">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" (click)="pushed_plus($event, control)">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="control.type === 'switch'">
                <ion-toggle color="primary" mode="ios" [(ngModel)]="control.state['_toggle']" (click)="toggle($event, control)">
                </ion-toggle>
              </ng-container>

            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label>
                <p>{{get(control.room, control.category)}}</p>
                <h1>{{control.name}}</h1>
                  <h2 style="color: {{control.state['_text_color']}};" *ngIf="control.state['_text'] !== ''"> {{control.state['_text']}}</h2>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>