<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'Home' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="vm$ | async as vm">
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let control of vm.controls">

        <ng-container *ngIf="control.type === 'i_room_controller'">
          <control-irc-view [control]="control" [view]="viewType.FAVORITE"></control-irc-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'light_controller_v2'">
          <control-light-v2-view [control]="control" [view]="viewType.FAVORITE"></control-light-v2-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'pushbutton'">
          <control-pushbutton-view [control]="control" [view]="viewType.FAVORITE"></control-pushbutton-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'slider'">
          <control-slider-view [control]="control" [view]="viewType.FAVORITE"></control-slider-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'switch'">
          <control-switch-view [control]="control" [view]="viewType.FAVORITE"></control-switch-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'radio'">
          <control-radio-view [control]="control" [view]="viewType.FAVORITE"></control-radio-view>
        </ng-container>

        <ng-container *ngIf="
        (control.type !== 'i_room_controller') &&
        (control.type !== 'light_controller_v2') &&
        (control.type !== 'pushbutton') &&
        (control.type !== 'slider') &&
        (control.type !== 'switch') &&
        (control.type !== 'radio')
        ">
          <control-text-state-view [control]="control" [view]="viewType.FAVORITE"></control-text-state-view>
        </ng-container>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>