<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'Home' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let control of favorites">
        <ion-card routerLink="{{control.hwid}}/{{control.uuid}}">
          <ion-card-header>
            <ion-item>
              <ion-icon color="{{control.icon.color}}" src="{{control.icon.href}}"></ion-icon>
              <ion-label></ion-label>

              <ng-container *ngIf="control.type === 'pushbutton'">
                <ion-fab-button horizontal="end" size="small" (click)="btn(btnAction.push, $event, control)">
                  <ion-icon name="radio-button-off-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="control.type === 'light_controller_v2'">
                <ion-fab-button size="small" (click)="btn(btnAction.push, $event, control)">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="control.type === 'radio'">
                <ion-fab-button size="small" (click)="btn(btnAction.down, $event, control)">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button class="fab-button-1" size="small" (click)="btn(btnAction.up, $event, control)">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="control.type === 'central_jalousie'">
                <ion-fab-button size="small" (click)="btn(btnAction.down, $event, control)">
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" (click)="btn(btnAction.up, $event, control)">
                  <ion-icon name="chevron-up-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="control.type === 'slider'">
                <ion-fab-button size="small" (click)="btn(btnAction.minus, $event, control)">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" (click)="btn(btnAction.plus, $event, control)">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
              </ng-container>

              <ng-container *ngIf="control.type === 'switch'">
                <ion-toggle color="primary" mode="ios" [(ngModel)]="control.display.toggle" (click)="btn(btnAction.toggle, $event, control)">
                </ion-toggle>
              </ng-container>

            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label>
                <p>{{get(control.room, control.category)}}</p>
                <h1>{{control.name}}</h1>
                <h2 style="color: {{control.display.color}};" *ngIf="control.display.text !== ''">{{control.display.text}}</h2>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>