<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'Home' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="vm$ | async as vm">
    <ion-row *ngIf="vm.controls.length">
      <ion-label class="control-label">
        <p translate>Favorites</p>
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let control of vm.controls">

        <ng-container *ngIf="control.type === 'IRoomController'">
          <control-irc-view [control]="control" [view]="viewType.FAVORITE"></control-irc-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'LightControllerV2'">
          <control-light-v2-view [control]="control" [view]="viewType.FAVORITE"></control-light-v2-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'Pushbutton'">
          <control-pushbutton-view [control]="control" [view]="viewType.FAVORITE"></control-pushbutton-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'Slider'">
          <control-slider-view [control]="control" [view]="viewType.FAVORITE"></control-slider-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'Switch'">
          <control-switch-view [control]="control" [view]="viewType.FAVORITE"></control-switch-view>
        </ng-container>

        <ng-container *ngIf="control.type === 'Radio'">
          <control-radio-view [control]="control" [view]="viewType.FAVORITE"></control-radio-view>
        </ng-container>

        <ng-container *ngIf="
        (control.type !== 'IRoomController') &&
        (control.type !== 'LightControllerV2') &&
        (control.type !== 'Pushbutton') &&
        (control.type !== 'Slider') &&
        (control.type !== 'Switch') &&
        (control.type !== 'Radio')
        ">
          <control-text-state-view [control]="control" [view]="viewType.FAVORITE"></control-text-state-view>
        </ng-container>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>