<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{control.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-icon color="{{control.icon._current_color}}" src="{{control.icon._current_href}}" ></ion-icon>
      <ion-label>
        <h1>{{category.name}} &centerdot; {{room.name}}</h1>
        <h2 style="color: {{control.state._current_color}};" *ngIf="control.state._status_text !== ''">{{control.state._status_text}}</h2>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>

</ion-content>
