<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{control.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-grid>
    <ion-row>
      <ion-label>
        <p>{{room.name}} &centerdot; {{category.name}}</p>
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-icon color="{{control.icon.color}}" src="{{control.icon.href}}"></ion-icon>
              <ion-label>
                <h2 style="color: {{control.state['_text_color']}};" *ngIf="control.state['_text'] !== ''">
                  {{control.state['_text']}}</h2>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>