<ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
    <ion-segment-button value="moods">
        {{ 'Moods' | translate }}
    </ion-segment-button>
    <ion-segment-button value="lightzones">
        {{ 'Lightzones' | translate }}
    </ion-segment-button>
</ion-segment>

<ng-container *ngIf="segment === 'moods'">
    <div class="row">
        <app-text-view [control]="control" [category]="category" [room]="room"></app-text-view>
    </div>
    <div class="row">
        <app-radio-view [control]="control"></app-radio-view>
    </div>
</ng-container>

<ng-container *ngIf="segment === 'lightzones'">
    <div class="row">
        <app-text-view [control]="control" [category]="category" [room]="room"></app-text-view>
    </div>
    <ng-container size="12" size-md="6" *ngFor="let subcontrol of getSubcontrols()">
        <div class="row">
            <app-dimmer-view *ngIf="subcontrol.type === 'dimmer'" [control]="subcontrol"></app-dimmer-view>
            <app-dimmer-view *ngIf="subcontrol.type === 'color_picker_v2'" [control]="subcontrol"></app-dimmer-view>
            <app-switch-view *ngIf="subcontrol.type === 'switch'" [control]="subcontrol"></app-switch-view>
        </div>
    </ng-container>
</ng-container>