<ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
  <ion-segment-button class="segment-button" value="color">
    {{ 'Color' | translate }}
  </ion-segment-button>
  <ion-segment-button class="segment-button" value="sequence">
    {{ 'Color sequence' | translate }}
  </ion-segment-button>
</ion-segment>

<ng-container *ngIf="segment === 'color'">
  <ion-grid class="grid-center" *ngIf="vm$ | async as vm">
    <ion-row *ngIf="mode_rgb">
      <ion-col>
        <div class="container">
          <element-color-rgb-picker-view [color_picker_vm]="vm"></element-color-rgb-picker-view>
          <div class="overlay">
            <ion-fab-button class="fab_btn_temp" (click)="toggleMode()"></ion-fab-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!mode_rgb">
      <ion-col>
        <div class="container">
          <element-color-temp-picker-view [color_picker_vm]="vm"></element-color-temp-picker-view>
          <div class="overlay">
            <ion-fab-button class="fab_btn_rgb" (click)="toggleMode()"></ion-fab-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <card-dimmer-view [control]="vm.control" [subControl]="vm.subControl"></card-dimmer-view>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

<ng-container *ngIf="segment === 'sequence'">
  <ion-grid class="grid-center" *ngIf="vm$ | async as vm">
    <ion-row>
      <ion-col>
        <div class="container">
          <element-color-rgb-picker-view [color_picker_vm]="vm"></element-color-rgb-picker-view>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>