<ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
    <ion-segment-button value="color" translate>
        moods
    </ion-segment-button>
    <ion-segment-button value="sequence" translate>
        lightzones
    </ion-segment-button>
</ion-segment>

<div *ngIf="segment === 'color'">
    <div class="row">
        <app-color-picker-view [control]="control" [category]="category" [room]="room"></app-color-picker-view >
    </div>
</div>

<div *ngIf="segment === 'sequence'">
    <div class="row">
        <app-color-picker-view [control]="control" [category]="category" [room]="room"></app-color-picker-view >
    </div>
</div>