ion-segment-button {
    --background-checked: var(--ion-toolbar-background);
    //--color-checked: var(--ion-color-success-contrast);
    --background: var(--ion-toolbar-background);
    max-width: unset; // default was 360px, does not work for widescreen
  }

.row {
  padding: 10px 10px 0px 10px; // top right bottm left
  max-width: 500px;
  margin: auto; // center horizontally
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350px;
  height: 300px;
}

.container .overlay {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}

ion-fab-button {
  --border-radius: 50%;
  --box-shadow: 0px;
  --background-hover: transparent;
  --background-hover-opacity: 0%;
  --background-activated: transparent;
  --background-activated-opacity: 0%;
  --border-color: #232425;
  --border-width: 5px;
  --border-style: solid;
}

.fab_btn_temp {
  --background: linear-gradient(to top, rgb(255, 148, 42) 0%, rgb(255, 189, 126) 12.5%, rgb(255, 216, 181) 25%, rgb(255, 235, 222) 37.5%, rgb(255, 248, 255) 50%, rgb(230, 235, 255) 62.5%, rgb(214, 226, 255) 75%, rgb(204, 220, 255) 87.5%);
}

.fab_btn_rgb {
  --background: conic-gradient(red, magenta, blue, aqua, lime, yellow, red);
  transform: rotateZ(90deg);
}
