ion-card {
  margin: 0px 0px 10px 0px; // top right bottm left
  border-radius: 5px;
}

ion-card-header {
  height: 56px;
  margin: 0;
  padding: 0px;
}

.card-content {
  padding-bottom: 10px;
}

ion-card-content {
  margin: 3px;
  padding: 3px;
}

ion-item {
  --inner-border-width: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: 3px;
  --inner-border-width: 0px;
  --padding-start: 0px;
  --padding-end: 6px;
  --inner-padding-start: 10px;
  --inner-padding-end: 0px;
  //--color: var(--ion-text-color, #2c2c2c);
  margin: 0px;
  padding: 0px;
}

ion-icon {
  font-size: 32px;
  height: 65px;
  color: var(--ion-text-color, #ffffff);
}

.text-center {
  text-align: center;
}

ion-label {
  margin: 0px;
  h1 {
    font-size: 18px;
    line-height: 1.2;
  }
  h2 {
    font-size: 18px;
    line-height: 1.2;
  }
  p {
    margin-top: 3px;
    font-size: 13px;
  }
}

// TODO hide radio button, other approach?
ion-radio {
  width: 0;
  height: 0;
}