//TODO we need this when using the factory
ion-back-button {
  display: block;
}

ion-card {
  top: 20px;
  max-width: 450px;
  margin: 0 auto;
  --padding-left: 0px;
  --padding-right: 0px;  
}

ion-item {
  margin: 0 auto;
  margin-bottom: 3px;
  
  max-width: 450px;
  --inner-padding-end: 3px;
  --padding-end: 0px;
  --padding-start: 0px;
}

.no-background {
  --background:none;
  --border-style:none; // eq. lines=none
  margin-bottom: 20px;
}

ion-label {
  p {
    color: var(--ion-text-color, #93a5b8);
    font-size: 17px;
    padding: 0px 0px 0px 20px; // left
  }

  h1 {
    text-align: center;
    font-size: 17px;
    color: #93a5b8; // TODO variable
  }
}

ion-avatar {
  background-color: var(--ion-avatar-bg-color, #d7d8da);
  width: 100px;
  height: 100px;
  border-radius: 50%;   
  margin: 0 auto; // center

  ion-icon {
    font-size: 50px;
    margin-top: 25px; // TODO vertial align
    margin-left: 25px;
  }
}
