<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label>
        <h1>{{control.name}}</h1>
      </ion-label>
      <ion-label>
        <h2>{{control.display.value}} %</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-fab-button class="icon-slider-minus" (click)="subctrl_slider_updown(control, false)">
        <ion-icon name="sunny" style="color: #4e5761;"></ion-icon>
      </ion-fab-button>
      <ion-range style="--bar-background: {{control.display.color}};"  min="{{min}}" max="{{max}}" step="{{step}}"
        debounce="50" step="1" (ionChange)="subctrl_slider_change(control)" [(ngModel)]="control.display.value"></ion-range>
      <ion-fab-button class="icon-slider-plus" (click)="subctrl_slider_updown(control, true)">
        <ion-icon name="sunny" style="color: #4e5761"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-card-content>
</ion-card>