<ion-content>

  <ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
    <ion-segment-button value="moods" translate>
      moods
    </ion-segment-button>
    <ion-segment-button value="lightzones" translate>
      lightzones
    </ion-segment-button>
  </ion-segment>



    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-item>
                <ion-icon color="{{control.icon.color}}" src="{{control.icon.href}}"></ion-icon>
                <ion-label></ion-label>
              </ion-item>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>
                  <p>{{room.name}} • {{category.name}}</p>
                  <h1>{{control.name}}</h1>
                  <h2 style="color: {{control.display.color}};" *ngIf="control.display.text !== ''">
                    {{control.display.text}}</h2>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ng-container *ngIf="segment === 'moods'">

            <ion-radio-group value="{{control.states.value}}" (ionChange)="radioGroupChange($event)">
            <div *ngFor="let item of mood_list, let i = index">
              <div class="selected-{{control.states.value==to_string(i)}}">
                <ion-item class="radio-item">
                  <ion-label>
                    <h3>{{item.name}}</h3>
                  </ion-label>
                  <ion-radio value="{{i}}"></ion-radio>
                </ion-item>
              </div>
            </div>
          </ion-radio-group>

        </ng-container>

          <ng-container *ngIf="segment === 'lightzones'">
            lightzones
          </ng-container>

        </ion-col>
      </ion-row>
    </ion-grid>





</ion-content>